In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

In [6]:
p_values_path = '../data/precipitation-trentino.csv'
p_availability_path = '../data/precipitation-trentino-data-availability.csv'

p_values = pd.read_csv(p_values_path,names=['Time','SquareId','level'])
p_availability = pd.read_csv(p_availability_path,names=['Time','Availability'])

In [14]:
p_values['Timestemps'] = pd.to_datetime(p_values['Time'], format='%Y%m%d%H%M', errors='ignore')
p_values.drop(columns=['Time'],inplace=True)

p_availability['Timestemps'] = pd.to_datetime(p_availability['Time'], format='%Y%m%d%H%M', errors='ignore')
p_availability.drop(columns=['Time'],inplace=True)

In [15]:
p_values.head()

   SquareId  level          Timestemps
0      2383      1 2013-11-01 00:00:00
1      9452      1 2013-11-01 00:20:00
2      8278      1 2013-11-01 00:20:00
3      6871      2 2013-11-01 00:20:00
4      5689      3 2013-11-01 00:20:00

In [50]:
# If availability is True, the perciption level at that time is 0

p_values = p_values.groupby(['Timestemps','SquareId']).sum().unstack(level=1).fillna(0)

p_values.shape

(7244, 6573)

In [51]:
# Check if consistent

p_availability.loc[p_availability['Availability'] == True]['Timestemps'].count()

7244

In [52]:
p_values.head()

                    level                                                  \
SquareId            38    39    40    154   155   156   157   158   159
Timestemps
2013-11-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:10:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:20:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:30:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:40:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

                           ...                                             \
SquareId            160    ...  11217 11218 11219 11220 11335 11336 11337
Timestemps                 ...
2013-11-01 00:00:00   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:10:00   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:20:00   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:30:00   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11-01 00:40:00   0.0  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0


SquareId            11452 11453 11454
Timestemps
2013-11-01 00:00:00   0.0   0.0   0.0
2013-11-01 00:10:00   0.0   0.0   0.0
2013-11-01 00:20:00   0.0   0.0   0.0
2013-11-01 00:30:00   0.0   0.0   0.0
2013-11-01 00:40:00   0.0   0.0   0.0

[5 rows x 6573 columns]

In [60]:
p_values.columns = p_values.columns.droplevel(0)

In [63]:
p_values.to_csv('../data/precipitation_grid.csv')